<div class="flex flex-row gap-2.5 flex-wrap">@for (pokemon of pokemons; track $index) {
  <div class="flex-col bg-black h-52 w-36 ">
    <span class="bg-gray-400 text-amber-50 block w-full text-center"> {{ pokemon.id }} {{ pokemon.name }}</span>
    <div>
      <img [src]="pokemon.image" alt="">
    </div>
    <ul>
      @for(type of pokemon.types; track $index){
        <li class="bg-blue-300">{{ type.name }}</li>

      }

          <li class="bg-blue-300"> attack :{{ pokemon.stats.attack }}</li>



      <li class="bg-blue-300">{{ pokemon.stats.defense }}</li>

    </ul>
  </div>

}
</div>

